.focus\:ring-4:focus{
    color: rgba(255, 0, 0, 0.888) !important;
    border: rgb(118, 2, 2) !important;
    box-shadow: none !important;
}
.text-cyan-600 {
    --tw-text-opacity: 1;
    color: red !important;
}